<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>
            login.jsp
        </welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Authenticate</servlet-name>
        <servlet-class>utility.authenticate.Authenticate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BootstrapController</servlet-name>
        <servlet-class>Controllers.Admin.BootstrapController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>Controllers.Student.Search.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlaceUpdateBidController</servlet-name>
        <servlet-class>Controllers.Student.Bid.PlaceUpdateBidController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBidController</servlet-name>
        <servlet-class>Controllers.Student.Bid.DeleteBidController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassDetailsController</servlet-name>
        <servlet-class>Controllers.Student.Search.ClassDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClearRoundController</servlet-name>
        <servlet-class>Controllers.Admin.round.ClearRoundController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JSONResManager</servlet-name>
        <servlet-class>utility.webservice.JSONResManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndRoundViewController</servlet-name>
        <servlet-class>Controllers.Admin.round.EndRoundViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchClassViewController</servlet-name>
        <servlet-class>Controllers.Student.Search.SearchClassViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainViewController</servlet-name>
        <servlet-class>Controllers.Student.MainViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartRoundController</servlet-name>
        <servlet-class>Controllers.Admin.round.StartRoundController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartRoundViewController</servlet-name>
        <servlet-class>Controllers.Admin.round.StartRoundViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBidWSController</servlet-name>
        <servlet-class>Controllers.Admin.Bid.UpdateBidWSController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBidWSController</servlet-name>
        <servlet-class>Controllers.Admin.Bid.DeleteBidWSController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminMainViewController</servlet-name>
        <servlet-class>Controllers.Admin.AdminMainViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyBidViewController</servlet-name>
        <servlet-class>Controllers.Student.MyBidViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DumpTableController</servlet-name>
        <servlet-class>Controllers.Admin.Dump.DumpTableController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnrollmentViewController</servlet-name>
        <servlet-class>Controllers.Student.EnrollmentViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DropSectionController</servlet-name>
        <servlet-class>Controllers.Student.DropSectionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DumpInfoController</servlet-name>
        <servlet-class>Controllers.Admin.Dump.DumpInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BidStatusWsController</servlet-name>
        <servlet-class>Controllers.Admin.Bid.BidStatusWsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Authenticate</servlet-name>
        <url-pattern>/authenticate</url-pattern>
        <url-pattern>/json/authenticate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/coursesearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlaceUpdateBidController</servlet-name>
        <url-pattern>/placebid.do</url-pattern>
        <url-pattern>/editbid.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BootstrapController</servlet-name>
        <url-pattern>/bootstrap.do</url-pattern>
        <url-pattern>/json/bootstrap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBidController</servlet-name>
        <url-pattern>/deletebid.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassDetailsController</servlet-name>
        <url-pattern>/classdetail.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClearRoundController</servlet-name>
        <url-pattern>/clearround.do</url-pattern>
        <url-pattern>/json/stop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JSONResManager</servlet-name>
        <url-pattern>/JSONResManager</url-pattern>
    </servlet-mapping>
    <filter>
        <description>web service protect</description>
        <filter-name>WebServiceProtectFilter</filter-name>
        <filter-class>utility.filter.WebServiceFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>WebServiceProtectFilter</filter-name>
        <url-pattern>/json/bootstrap</url-pattern>
        <url-pattern>/json/stop</url-pattern>
        <url-pattern>/json/start</url-pattern>
        <url-pattern>/json/update-bid</url-pattern>
        <url-pattern>/json/delete-bid</url-pattern>
        <url-pattern>/json/dump</url-pattern>
        <url-pattern>/json/drop-section</url-pattern>
        <url-pattern>/json/user-dump</url-pattern>
        <url-pattern>/json/bid-dump</url-pattern>
        <url-pattern>/json/section-dump</url-pattern>
        <url-pattern>/json/bid-status</url-pattern>
    </filter-mapping>
    <filter>
        <description>student protect</description>
        <filter-name>StudentProtectFilter</filter-name>
        <filter-class>utility.filter.StudentFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>StudentProtectFilter</filter-name>
        <url-pattern>/mybid.jsp</url-pattern>
        <url-pattern>/mybid</url-pattern>
        <url-pattern>/searchbid.jsp</url-pattern>
        <url-pattern>/searchclass</url-pattern>
        <url-pattern>/coursesearch</url-pattern>
        <url-pattern>/classdetail.do</url-pattern>
        <url-pattern>/placebid.do</url-pattern>
        <url-pattern>/editbid.do</url-pattern>
        <url-pattern>/deletebid.do</url-pattern>
        <url-pattern>/main</url-pattern>
        <url-pattern>/main.jsp</url-pattern>
        <url-pattern>/myenrol</url-pattern>
        <url-pattern>/enroll.jsp</url-pattern>
        <url-pattern>/dropsection.do</url-pattern>
    </filter-mapping>
    <filter>
        <description>admin protect</description>
        <filter-name>AdminProtectFilter</filter-name>
        <filter-class>utility.filter.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminProtectFilter</filter-name>
        <url-pattern>/clearround.do</url-pattern>
        <url-pattern>/main-admin.jsp</url-pattern>
        <url-pattern>/endround</url-pattern>
        <url-pattern>/endround.jsp</url-pattern>
        <url-pattern>/begin</url-pattern>
        <url-pattern>/beginround</url-pattern>
        <url-pattern>/startround.jsp</url-pattern>
        <url-pattern>/bootstrap.do</url-pattern>
        <url-pattern>/main-admin</url-pattern>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>EndRoundViewController</servlet-name>
        <url-pattern>/endround</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchClassViewController</servlet-name>
        <url-pattern>/searchclass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainViewController</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartRoundController</servlet-name>
        <url-pattern>/begin</url-pattern>
        <url-pattern>/json/start</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartRoundViewController</servlet-name>
        <url-pattern>/beginround</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBidWSController</servlet-name>
        <url-pattern>/json/update-bid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBidWSController</servlet-name>
        <url-pattern>/json/delete-bid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminMainViewController</servlet-name>
        <url-pattern>/main-admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyBidViewController</servlet-name>
        <url-pattern>/mybid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DumpTableController</servlet-name>
        <url-pattern>/json/dump</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnrollmentViewController</servlet-name>
        <url-pattern>/myenrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DropSectionController</servlet-name>
        <url-pattern>/dropsection.do</url-pattern>
        <url-pattern>/json/drop-section</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DumpInfoController</servlet-name>
        <url-pattern>/json/user-dump</url-pattern>
        <url-pattern>/json/bid-dump</url-pattern>
        <url-pattern>/json/section-dump</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BidStatusWsController</servlet-name>
        <url-pattern>/json/bid-status</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            5
        </session-timeout>
    </session-config>
</web-app>
