    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.min.js"></script>
<script src="dist/js/bootstrap.min.js"></script>
<script src="js/modal.js"></script>
<script src="js/merlion.js"></script>


<script type="text/javascript">
$(window).load(function() {
    var activePage = window.location.pathname;
    activePage = activePage.substring(activePage.lastIndexOf("/")+1);
    $('.nav-sidebar li a').each(function(){  
        var currentPage = $(this).attr('href');
        if (activePage == currentPage) {
            $(this).parent().addClass('active'); 
        }
        else if (activePage === 'coursesearch' && currentPage === 'searchclass') {
            $(this).parent().addClass('active');
        } else if(activePage === 'clearround.do' && currentPage === 'endround') {
            $(this).parent().addClass('active');
        } else if(activePage === 'bootstrap.do' && currentPage === 'main-admin') {
            $(this).parent().addClass('active');
        }else if(activePage === 'begin' && currentPage === 'beginround') {
            $(this).parent().addClass('active');
        }
    });  
});    
</script>